::ng-deep :root {
    --padding: 10px;
    --font-size: 30px;
    --border-radius: 5px;
}

.accordion-container {
    margin: 5px;
    width: 80%;
}

.header-container {
    width: 100%;
    position: relative;
}

.accordion-header {
    float: left;
    background-color: #E0E0E0;
    color: #424242;
    font-weight: bold;
    cursor: pointer;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    outline: o;
    padding: var(--padding);
    width: 80%;
    box-sizing: border-box;
}

.toggle-btn {
    float: left;
    margin: 0 5px;
    width: 4%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    vertical-align: 50%;
}

.accordion-content {
    background-color: #000000;
    margin: 0 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: var(--padding);
    color: #ffffff;
    box-sizing: border-box;
}