::ng-deep :root {
    --padding: 10px;
    --border-radius: 5px;
}

.cost-container {
    float: right;
    background-color: #429245;
    width: 20%;
    color: #ffffff;
    padding: var(--padding);
    box-sizing: border-box;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    font-weight: bold;
    text-align: center;
}

.cost-container i {
    margin-right: 5px;
}

.cost-container .cost {
    margin-left: 5px;
}