.xp-button {
    -webkit-appearance: none;
    appearance: none;

    padding: 10px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    transition-duration: 0.2s;
}

.xp-button:hover {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-1px, -2px);
}

.xp-button:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transform: translate(1px, 2px);
}

.default-btn {
    background-color: #0a674f;
    color: #f2fffb;
}

.default-btn:hover {
    background-color: #104d3d;
}

.cancel-btn {
    background-color: #f2fffb;
    color: #0a674f;
    font-weight: bold;
}

.cancel-btn:hover {
    background-color: #e6e6e6;
}